.DS_Store
/analyze/downloaded_hw_run/
/target
/Cargo.lock
/deprecated
# generated ocelot traces can be quite big
**/results/traces/*
/notebooks/figs/*
.ipynb_checkpoints
run.tar.gz

.traceg
_cuobjdump_list_ptx_*
_app_cuda_version_*
