[submodule "gpgpu-sim"]
	path = gpgpu-sim
	url = git@github.com:gpgpu-sim/gpgpu-sim_distribution.git
	branch = dev
[submodule "gpuocelot"]
	path = gpuocelot
	url = git@github.com:gtcasl/gpuocelot.git
	branch = master
[submodule "macsim"]
	path = macsim
	url = git@github.com:gthparch/macsim.git
	branch = master
[submodule "mgpusim"]
	path = mgpusim
	url = https://gitlab.com/akita/mgpusim.git
	branch = v3
[submodule "multi2sim"]
	path = multi2sim
	url = git@github.com:Multi2Sim/multi2sim.git
	branch = master
[submodule "accel-sim"]
	path = accel-sim
	url = git@github.com:accel-sim/accel-sim-framework.git
	branch = release
