[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
plotly = "*"
psutil = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"
jupyterlab = ">=3.5.1"
kaleido = "*"

[dev-packages]
invoke = "*"
bump2version = "*"
flake8 = "*"
black = "*"
