images/*
assets/*

m2s/cuda_6.0.37_linux_64.run
tejas/gputejas_installation_kit.tar.gz
ocelot/cudatoolkit_4.2.9_linux_64_ubuntu11.04.run
native/gpucomputingsdk_4.2.9_linux.run
native/nsight-compute-2022.3.0_2022.3.0.22-1_amd64.deb
accelsim/all.gpgpu-sim-app-data.tgz
